openapi: 3.0.3
info:
  description: "SuprSend is a central communication stack for easily creating, managing\
    \ and delivering notifications to your end users on multiple channels. Our single\
    \ notification API has all the features set, which enables you to send notifications\
    \ in a reliable and scalable manner and take care of end user experience, thereby\
    \ eliminating the need to develop any notification service in-house for transactional/engagement\
    \ notifications."
  title: SuprSend API
  version: 1.2.1
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://hub.suprsend.com
security:
- sec0: []
tags:
- name: Subscriber
- name: Brand
- name: SubscriberList
- name: Template
- name: Preference
- name: Event
- name: PrefCategory
- name: Broadcast
- name: Workflow
- name: Sync
paths:
  /v1/template:
    get:
      deprecated: false
      description: APIs to fetch the list of all templates in a workspace
      operationId: Template_getList
      parameters:
      - description: comma separated string of tag ids attached to the template
        explode: true
        in: query
        name: has_tag_ids_any
        required: false
        schema:
          type: string
        style: form
      - description: "comma separated string of channels. Returns templates which\
          \ has any of the channels present from the channel string. Use these keys\
          \ for channels - `email`, `sms`, `whatsapp`, `inbox`, `slack`, `androidpush`,\
          \ `iospush`, `webpush`"
        explode: true
        in: query
        name: has_channels_any
        required: false
        schema:
          type: string
        style: form
      - description: "Set `true` for published templates, `false` for templates which\
          \ are in draft. Do not pass this key to return all templates."
        explode: true
        in: query
        name: is_active
        required: false
        schema:
          type: boolean
        style: form
      - description: "Set `true` to get archived templates, default = `false`"
        explode: true
        in: query
        name: is_archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "meta": {
                        "count": 1,
                          "limit": 10,
                            "offset": 0
                      },
                        "results": [
                          {
                            "id": 2445,
                            "name": "Grocery Purchased",
                            "slug": "grocery-purchased",
                            "description": null,
                            "is_active": true,
                            "default_language": {
                              "name": "English",
                              "slug": "en"
                            },
                            "created_at": "2023-01-25T04:53:39.237291Z",
                            "updated_at": "2023-08-28T05:06:22.461443Z",
                            "updated_by": {
                              "name": "Joe",
                              "email": "joe@example.com"
                            },
                            "last_triggered_at": "2023-08-10T12:44:03.361158Z",
                            "is_auto_translate_enabled": false,
                            "enabled_languages": [
                              "en",
                              "hi",
                              "kn"
                            ],
                            "channels": [
                              {
                                "id": 3944,
                                "channel": {
                                  "name": "Email",
                                  "slug": "email",
                                  "is_template_approval_needed": true
                                },
                                "is_active": true,
                                "is_enabled": true,
                                "created_at": "2023-01-25T04:53:39.268299Z",
                                "updated_at": "2023-01-25T04:53:39.404273Z",
                                "disabled_languages": [],
                                "versions": []
                              }],
                            "tags": []
                          }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/TemplateGetListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/TemplateGetList400Response'
          description: "400"
          x-do-not-generate: true
      summary: Fetch Template List
      tags:
      - Template
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-template
      x-accepts: application/json
  /v1/template/{template_slug}:
    get:
      deprecated: false
      description: APIs to fetch the content of a template group. It will return data
        for live and draft version of a template.
      operationId: Template_getDetails
      parameters:
      - description: Template group slug you want to fetch content details. You'll
          get the template slug by clicking on copy button next to template group
          name on SuprSend dashboard -> template details page.
        explode: false
        in: path
        name: template_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": 2445,
                        "name": "Grocery Purchased",
                          "slug": "grocery-purchased",
                            "description": null,
                              "is_active": true,
                                "default_language": {
                                  "name": "English",
                                    "slug": "en"
                                },
                                  "created_at": "2023-01-25T04:53:39.237291Z",
                                    "updated_at": "2023-08-28T05:06:22.461443Z",
                                      "updated_by": {
                                        "name": "Joe",
                                          "email": "joe@example.com"
                                      },
                                        "last_triggered_at": "2023-08-10T12:44:03.361158Z",
                                          "is_auto_translate_enabled": false,
                                            "enabled_languages": [
                                              "en",
                                              "hi",
                                              "kn"
                                            ],
                                              "channels": [
                                                {
                                                  "id": 3944,
                                                  "channel": {
                                                    "name": "SMS",
                                                    "slug": "sms",
                                                    "is_template_approval_needed": true
                                                  },
                                                  "is_active": true,
                                                  "is_enabled": true,
                                                  "created_at": "2023-01-25T04:53:39.268299Z",
                                                  "updated_at": "2023-01-25T04:53:39.404273Z",
                                                  "disabled_languages": [],
                                                  "versions": [
                                                    {
                                                      "id": 10820,
                                                      "templates": [
                                                        {
                                                          "id": 11866,
                                                          "language": {
                                                            "name": "English",
                                                            "slug": "en"
                                                          },
                                                          "is_enabled": true,
                                                          "approval_status": "approved",
                                                          "content": {
                                                            "text": "You purchased product {#var#} worth Rs. {#var#} will reach to you {#var#}. You can track your order here: {#var#}\n- SuprSend",
                                                            "header": "SPRSND",
                                                            "example": [
                                                              "Winter Raincoat",
                                                              "INR 5",
                                                              "999",
                                                              "Bengaluru",
                                                              "https://www.google.com"
                                                            ],
                                                            "vendor_slug": "acl-sms",
                                                            "content_type": "1",
                                                            "message_type": "SERVICE_IMPLICIT",
                                                            "template_name": "purchase_made_en_v2",
                                                            "enterprise_name": "SPRSND",
                                                            "handlebars_text": "You purchased product {{event.product_name}} worth Rs. {{event.amount}} will reach to you {{event.location.city}}. You can track your order here: {{event.link}}\n- SuprSend",
                                                            "vendor_template_id": "1007xxxxxxxxxx"
                                                          },
                                                          "created_at": "2023-01-25T04:53:39.295289Z",
                                                          "updated_at": "2023-01-25T04:53:39.328651Z",
                                                          "updated_by": {
                                                            "name": "Steve",
                                                            "email": "steve@example.com"
                                                          },
                                                          "approval_cycle": {
                                                            "status": "approved",
                                                            "comment": null,
                                                            "request_received_at": "2022-03-31T10:35:51+0000",
                                                            "sent_for_approval_at": null,
                                                            "approval_status_received_at": "2022-03-31T10:43:44+0000"
                                                          },
                                                          "is_approval_needed": true,
                                                          "is_cloned_from_last_version": false
                                                        }
                                                      ],
                                                      "status": "active",
                                                      "version_tag": "1",
                                                      "created_at": "2023-01-25T04:53:39.276782Z",
                                                      "updated_at": "2023-01-25T04:53:39.342850Z",
                                                      "updated_by": {
                                                        "name": "Joe",
                                                        "email": "joe@example.com"
                                                      },
                                                      "version_tag_user": "v1",
                                                      "published_languages": [
                                                        "en"
                                                      ],
                                                      "apparent_published_languages": [
                                                        "en"
                                                      ]
                                                    },
                                                    {
                                                      "id": 10821,
                                                      "templates": [
                                                        {
                                                          "id": 11867,
                                                          "language": {
                                                            "name": "English",
                                                            "slug": "en"
                                                          },
                                                          "is_enabled": true,
                                                          "approval_status": "pending",
                                                          "content": {
                                                            "text": "You purchased product {#var#} worth Rs. {#var#} will reach to you {#var#}. You can track your order here: {#var#}\n- SuprSend",
                                                            "header": "SPRSND",
                                                            "example": [
                                                              "Winter Raincoat",
                                                              "INR 5",
                                                              "999",
                                                              "Bengaluru",
                                                              "https://www.google.com"
                                                            ],
                                                            "vendor_slug": "acl-sms",
                                                            "content_type": "1",
                                                            "message_type": "SERVICE_IMPLICIT",
                                                            "template_name": "purchase_made_en_v2",
                                                            "enterprise_name": "SPRSND",
                                                            "handlebars_text": "You purchased product {{event.product_name}} worth Rs. {{event.amount}} will reach to you {{event.location.city}}. You can track your order here: {{event.link}}\n- SuprSend",
                                                            "vendor_template_id": "1007017737717135821"
                                                          },
                                                          "created_at": "2023-01-25T04:53:39.367525Z",
                                                          "updated_at": "2023-01-25T04:53:39.367556Z",
                                                          "updated_by": {
                                                            "name": "Joe",
                                                            "email": "joe@example.com"
                                                          },
                                                          "approval_cycle": null,
                                                          "is_approval_needed": true,
                                                          "is_cloned_from_last_version": false
                                                        },

                                                        {
                                                          "id": 11891,
                                                          "language": {
                                                            "name": "French",
                                                            "slug": "fr"
                                                          },
                                                          "is_enabled": true,
                                                          "approval_status": "pending",
                                                          "content": {
                                                            "template_name": "grocery_purchased_hi"
                                                          },
                                                          "created_at": "2023-01-25T05:46:26.753095Z",
                                                          "updated_at": "2023-01-25T05:46:26.753121Z",
                                                          "updated_by": {
                                                            "name": "Joe",
                                                            "email": "joe@example.com"
                                                          },
                                                          "approval_cycle": null,
                                                          "is_approval_needed": true,
                                                          "is_cloned_from_last_version": false
                                                        }]
                                                    }
                                                  ],
                                                  "tags": []
                                                }
                                              ]
                    }
              schema:
                $ref: '#/components/schemas/TemplateGetDetailsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/TemplateGetDetails400Response'
          description: "400"
          x-do-not-generate: true
      summary: Fetch Template details
      tags:
      - Template
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-template-template_slug
      x-accepts: application/json
  /v1/template/{template_slug}/channel/{channel_slug}:
    get:
      deprecated: false
      description: APIs to fetch the content of a particular channel in a template
        group. It will return data for live and draft version of a template.
      operationId: Template_getContentChannel
      parameters:
      - description: Template group slug you want to fetch content details. You'll
          get the template slug by clicking on copy button next to template group
          name on SuprSend dashboard -> template details page.
        explode: false
        in: path
        name: template_slug
        required: true
        schema:
          type: string
        style: simple
      - description: "add one of the template channels  - `email`, `sms`, `whatsapp`,\
          \ `inbox`, `slack`, `androidpush`, `iospush`, `webpush`"
        explode: false
        in: path
        name: channel_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": 3949,
                      "channel": {
                        "name": "In-App Inbox",
                        "slug": "inbox",
                        "is_template_approval_needed": false
                      },
                      "is_active": true,
                      "is_enabled": true,
                      "created_at": "2023-01-25T04:53:40.011112Z",
                      "updated_at": "2023-07-27T14:55:23.939438Z",
                      "disabled_languages": [],
                      "versions": [
                        {
                          "id": 10830,
                          "templates": [
                            {
                              "id": 11876,
                              "language": {
                                "name": "English",
                                "slug": "en"
                              },
                              "is_enabled": true,
                              "approval_status": "auto_approved",
                              "content": {
                                "url": "",
                                "text": "We will soon deliver {{event.product_name}} to {{event.location.city}} 😀",
                                "image": "",
                                "header": "Order Confirmed {{event.date}}",
                                "schema": "1.0",
                                "extra_data": "{\n\"city\": \"{{event.amount}}\"\n}"
                              },
                              "created_at": "2023-01-25T04:53:40.035836Z",
                              "updated_at": "2023-01-25T04:53:40.069659Z",
                              "updated_by": {
                                "name": "Joe",
                                "email": "joe@example.com"
                              },
                              "approval_cycle": null,
                              "is_approval_needed": false,
                              "is_cloned_from_last_version": false
                            }
                          ],
                          "status": "active",
                          "version_tag": "1",
                          "created_at": "2023-01-25T04:53:40.016463Z",
                          "updated_at": "2023-01-25T04:53:40.083969Z",
                          "updated_by": {
                            "name": "Steve",
                            "email": "steve@example.com"
                          },
                          "version_tag_user": "v1",
                          "published_languages": [
                            "en"
                          ],
                          "apparent_published_languages": [
                            "en"
                          ]
                        },
                        {
                          "id": 10831,
                          "templates": [
                            {
                              "id": 11877,
                              "language": {
                                "name": "English",
                                "slug": "en"
                              },
                              "is_enabled": true,
                              "approval_status": "auto_approved",
                              "content": {
                                "url": "",
                                "text": "We will soon deliver {{event.product_name}} to {{event.location.city}} 😀 {{$embedded_preference_url}}",
                                "image": "",
                                "header": "Order Confirmed {{event.date}}",
                                "schema": "1.0",
                                "extra_data": "{\n\"city\": \"{{event.amount}}\"\n}"
                              },
                              "created_at": "2023-01-25T04:53:40.112492Z",
                              "updated_at": "2023-07-27T14:55:23.933072Z",
                              "updated_by": {
                                "name": "Joe",
                                "email": "joe@example.com"
                              },
                              "approval_cycle": null,
                              "is_approval_needed": false,
                              "is_cloned_from_last_version": false
                            }
                          ],
                          "status": "draft",
                          "version_tag": "_",
                          "created_at": "2023-01-25T04:53:40.098853Z",
                          "updated_at": "2023-07-27T14:55:23.937661Z",
                          "updated_by": {
                            "name": "Steve",
                            "email": "steve@example.com"
                          },
                          "version_tag_user": null,
                          "published_languages": [],
                          "apparent_published_languages": []
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/TemplateGetContentChannelResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/TemplateGetContentChannel400Response'
          description: "400"
          x-do-not-generate: true
      summary: Fetch Template content for a channel
      tags:
      - Template
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-template-template_slug-channel-channel_slug
      x-accepts: application/json
  /v1/brand/{brand_id}:
    get:
      deprecated: false
      description: API to get brand settings corresponding to a brand id
      operationId: Brand_brandDataGet
      parameters:
      - description: unique identifier of the brand you want to get the details for
        explode: false
        in: path
        name: brand_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BrandBrandDataGetResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BrandBrandDataGet400Response'
          description: "400"
          x-do-not-generate: true
      summary: Get Brand data
      tags:
      - Brand
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-brand-brand_id
      x-accepts: application/json
    post:
      deprecated: false
      description: API to create a new Brand OR update an existing Brand
      operationId: Brand_createOrUpdate
      parameters:
      - description: unique identifier of the brand that you want to create / update
        explode: false
        in: path
        name: brand_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Content - Type
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandCreateOrUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BrandCreateOrUpdateResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BrandCreateOrUpdate400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create / Update Brands
      tags:
      - Brand
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-brand-brand_id
      x-content-type: application/json
      x-accepts: application/json
  /v1/subscriber/{distinct_id}/category/{category_slug}:
    post:
      deprecated: false
      description: API to update user category preferences
      operationId: Subscriber_updateUserPreferencesCategory
      parameters:
      - description: distinct_id of the user whose preferences should be fetched
        explode: false
        in: path
        name: distinct_id
        required: true
        schema:
          type: string
        style: simple
      - description: to fetch user preferences for a particular brand
        explode: true
        in: query
        name: tenant_id
        required: false
        schema:
          type: string
        style: form
      - description: notification category slug. You can get this from Notification
          Categories page on SuprSend dashboard -> Settings page
        explode: false
        in: path
        name: category_slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriberUpdateUserPreferencesCategoryRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberUpdateUserPreferencesCategoryResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberUpdateUserPreferencesCategory400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update User Preferences (Category level)
      tags:
      - Subscriber
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-subscriber-distinct_id-category-category_slug
      x-content-type: application/json
      x-accepts: application/json
  /v1/subscriber_list/{list_id}/subscriber/add:
    post:
      deprecated: false
      description: API to add users / subscribers to the list
      operationId: Subscriber_addToList
      parameters:
      - description: Unique string idenitifier of the list to which user needs to
          be updated
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          default: _list_id_
          example: _list_id_
          type: string
          x-konfig-original-example: _list_id_
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-subscriber-add-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriberAddToListRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberAddToListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberAddToList400Response'
          description: "400"
          x-do-not-generate: true
      summary: Add Subscribers to List
      tags:
      - Subscriber
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-subscriber_list-list_id-subscriber-add
      x-content-type: application/json
      x-accepts: application/json
  /v1/subscriber_list/{list_id}/subscriber/remove:
    post:
      deprecated: false
      description: API to remove users / subscribers from the list
      operationId: SubscriberList_removeSubscribersFromList
      parameters:
      - description: Unique string idenitifier of the list to which user needs to
          be updated
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          default: _list_id_
          example: _list_id_
          type: string
          x-konfig-original-example: _list_id_
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-subscriber-remove-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriberListRemoveSubscribersFromListRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberListRemoveSubscribersFromListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberListRemoveSubscribersFromList400Response'
          description: "400"
          x-do-not-generate: true
      summary: Remove Subscribers from List
      tags:
      - SubscriberList
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-subscriber_list-list_id-subscriber-remove
      x-content-type: application/json
      x-accepts: application/json
  /v1/subscriber_list/{list_id}/delete:
    patch:
      deprecated: false
      description: API to delete a list created in your workspace
      operationId: SubscriberList_deleteList
      parameters:
      - description: Unique string idenitifier of the list which you want to delete
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberListDeleteListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberListDeleteList400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete List
      tags:
      - SubscriberList
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-subscriber_list-list_id-delete
      x-accepts: application/json
  /v1/subscriber_list/{list_id}/version/{version_id}/delete:
    patch:
      deprecated: false
      description: API to delete a list created in your workspace
      operationId: Subscriber_deleteDraftList
      parameters:
      - description: Unique string idenitifier of the list which you want to delete
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier of the draft version of the list which needs
          to be deleted
        explode: false
        in: path
        name: version_id
        required: true
        schema:
          default: __version_id__
          example: __version_id__
          type: string
          x-konfig-original-example: __version_id__
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-version-version_id-delete-patch-parameters-1-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberDeleteDraftListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberDeleteDraftList400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete Draft List
      tags:
      - Subscriber
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-subscriber_list-list_id-version-version_id-delete
      x-accepts: application/json
  /v1/subscriber_list/{list_id}/start_sync:
    post:
      deprecated: false
      description: "Starts sync on the active(live) version of the list, identified\
        \ by list_id, and creates an empty draft version."
      operationId: Sync_listStartSync
      parameters:
      - description: Unique identifier of the list on which the sync needs to start
          to create a draft version
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          default: _list_id_
          example: _list_id_
          type: string
          x-konfig-original-example: _list_id_
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-start_sync-post-parameters-0-schema
        style: simple
      responses:
        "201":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SyncListStartSyncResponse'
          description: "201"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SyncListStartSync400Response'
          description: "400"
          x-do-not-generate: true
      summary: Start Sync
      tags:
      - Sync
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-subscriber_list-list_id-start_sync
      x-accepts: application/json
  /v1/subscriber_list/{list_id}/version/{version_id}/subscriber/add:
    post:
      deprecated: false
      description: Add subscribers to a draft list with a version_id that uniquely
        identifies the draft list
      operationId: Subscriber_addToDraftList
      parameters:
      - description: Unique string idenitifier of the list to which user needs to
          be updated
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          default: _list_id_
          example: _list_id_
          type: string
          x-konfig-original-example: _list_id_
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-version-version_id-subscriber-add-post-parameters-0-schema
        style: simple
      - description: Unique string idenitifier of the draft version of the list to
          which user needs to be updated
        explode: false
        in: path
        name: version_id
        required: true
        schema:
          default: __version_id__
          example: __version_id__
          type: string
          x-konfig-original-example: __version_id__
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-version-version_id-subscriber-add-post-parameters-1-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriberAddToDraftListRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberAddToDraftListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberAddToDraftList400Response'
          description: "400"
          x-do-not-generate: true
      summary: Add Subscribers to Draft List
      tags:
      - Subscriber
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-subscriber_list-list_id-version-version_id-subscriber-add
      x-content-type: application/json
      x-accepts: application/json
  /v1/subscriber_list/{list_id}/version/{version_id}/subscriber/remove:
    post:
      deprecated: false
      description: Remove subscribers from a draft list with a version_id that uniquely
        identifies the draft list
      operationId: Subscriber_removeFromDraftList
      parameters:
      - description: Unique string idenitifier of the list to which user needs to
          be updated
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          default: _list_id_
          example: _list_id_
          type: string
          x-konfig-original-example: _list_id_
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-version-version_id-subscriber-remove-post-parameters-0-schema
        style: simple
      - description: Unique string idenitifier of the draft version of the list to
          which user needs to be updated
        explode: false
        in: path
        name: version_id
        required: true
        schema:
          default: __version_id__
          example: __version_id__
          type: string
          x-konfig-original-example: __version_id__
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-version-version_id-subscriber-remove-post-parameters-1-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriberRemoveFromDraftListRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberRemoveFromDraftListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberRemoveFromDraftList400Response'
          description: "400"
          x-do-not-generate: true
      summary: Remove Subscribers from Draft List
      tags:
      - Subscriber
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-subscriber_list-list_id-version-version_id-subscriber-remove
      x-content-type: application/json
      x-accepts: application/json
  /v1/subscriber_list/{list_id}/version/{version_id}/finish_sync:
    patch:
      deprecated: false
      description: Finishes the sync for a draft version and makes that particular
        version live for the given list_id
      operationId: Subscriber_finishSyncDraftVersion
      parameters:
      - description: Unique string idenitifier of the list
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          default: _list_id_
          example: _list_id_
          type: string
          x-konfig-original-example: _list_id_
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-version-version_id-finish_sync-patch-parameters-0-schema
        style: simple
      - description: Unique string idenitifier of the draft version of the list which
          needs to be made active(live)
        explode: false
        in: path
        name: version_id
        required: true
        schema:
          default: __version_id__
          example: __version_id__
          type: string
          x-konfig-original-example: __version_id__
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-version-version_id-finish_sync-patch-parameters-1-schema
        style: simple
      responses:
        "201":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberFinishSyncDraftVersionResponse'
          description: "201"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberFinishSyncDraftVersion400Response'
          description: "400"
          x-do-not-generate: true
      summary: Finish Sync
      tags:
      - Subscriber
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-subscriber_list-list_id-version-version_id-finish_sync
      x-accepts: application/json
  /{workspace_key}/broadcast:
    post:
      deprecated: false
      description: API to trigger broadcast messages on a list of users
      operationId: Broadcast_triggerMessageList
      parameters:
      - explode: false
        in: path
        name: workspace_key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastTriggerMessageListRequest'
      responses:
        "202":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BroadcastTriggerMessageListResponse'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{_error_response_}"
              schema:
                $ref: '#/components/schemas/BroadcastTriggerMessageList400Response'
          description: "400"
          x-do-not-generate: true
      summary: Trigger Broadcast
      tags:
      - Broadcast
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--workspace_key-broadcast
      x-content-type: application/json
      x-accepts: application/json
  /event:
    post:
      deprecated: false
      description: API used to pass event which can then be used to trigger workflows
        created on SuprSend dashboard
      operationId: Event_triggerEvent
      requestBody:
        content:
          application/json:
            examples:
              SHIPMENT ARRIVAL:
                value:
                  distinct_id: 0fxxx8f74-xxxx-41c5-8752-xxxcb6911fb08
                  event: ON SHIPMENT ARRIVAL
                  properties:
                    amount: 3780$
                    number: TRXC1034
                    vehicle: Truck
                    locations: San Francisco
            schema:
              $ref: '#/components/schemas/EventTriggerEventRequest'
      responses:
        "202":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/EventTriggerEventResponse'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{_error_response_}"
              schema:
                $ref: '#/components/schemas/EventTriggerEvent400Response'
          description: "400"
          x-do-not-generate: true
      summary: Trigger an Event
      tags:
      - Event
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--event
      x-content-type: application/json
      x-accepts: application/json
  /{workspace_key}/trigger:
    post:
      deprecated: false
      description: API to configure and trigger workflow dynamically
      operationId: Workflow_configureTrigger
      parameters:
      - explode: false
        in: path
        name: workspace_key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowConfigureTriggerRequest'
      responses:
        "202":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/WorkflowConfigureTriggerResponse'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{_error_response_}"
              schema:
                $ref: '#/components/schemas/WorkflowConfigureTrigger400Response'
          description: "400"
          x-do-not-generate: true
      summary: Trigger Workflow
      tags:
      - Workflow
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--workspace_key-trigger
      x-content-type: application/json
      x-accepts: application/json
  /v1/brand:
    get:
      deprecated: false
      description: API to get the list of brands available in your workspace
      operationId: Brand_listGet
      parameters:
      - description: number of results to be returned in API response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "20"
          example: "20"
          type: string
          x-konfig-original-example: "20"
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-brand-get-parameters-0-schema
        style: form
      - description: starting position of brand list
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: "0"
          example: "0"
          type: string
          x-konfig-original-example: "0"
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-brand-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BrandListGetResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BrandListGet400Response'
          description: "400"
          x-do-not-generate: true
      summary: Get Brand list
      tags:
      - Brand
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-brand
      x-accepts: application/json
  /v1/subscriber/{distinct_id}/channel_preference:
    get:
      deprecated: false
      description: API to get user channel preferences
      operationId: Preference_getUserChannelPreferences
      parameters:
      - description: distinct_id of the user whose preferences should be fetched
        explode: false
        in: path
        name: distinct_id
        required: true
        schema:
          type: string
        style: simple
      - description: to fetch user preferences for a particular brand
        explode: true
        in: query
        name: tenant_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PreferenceGetUserChannelPreferencesResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PreferenceGetUserChannelPreferences400Response'
          description: "400"
          x-do-not-generate: true
      summary: Get User Preferences (Channel level)
      tags:
      - Preference
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-subscriber-distinct_id-channel_preference
      x-accepts: application/json
    post:
      deprecated: false
      description: API to update user channel preferences
      operationId: Preference_updateChannelPreferences
      parameters:
      - description: distinct_id of the user whose preferences should be fetched
        explode: false
        in: path
        name: distinct_id
        required: true
        schema:
          type: string
        style: simple
      - description: to fetch user preferences for a particular brand
        explode: true
        in: query
        name: tenant_id
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceUpdateChannelPreferencesRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PreferenceUpdateChannelPreferencesResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PreferenceUpdateChannelPreferences400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update User Preferences (Channel level)
      tags:
      - Preference
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-subscriber-distinct_id-channel_preference
      x-content-type: application/json
      x-accepts: application/json
  /v1/subscriber/{distinct_id}/category:
    get:
      deprecated: false
      description: API to get user category preferences
      operationId: PrefCategory_getUserPreferencesAllCategories
      parameters:
      - description: distinct_id of the user whose preferences should be fetched
        explode: false
        in: path
        name: distinct_id
        required: true
        schema:
          type: string
        style: simple
      - description: to fetch user preferences for a particular brand
        explode: true
        in: query
        name: tenant_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PrefCategoryGetUserPreferencesAllCategoriesResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PrefCategoryGetUserPreferencesAllCategories400Response'
          description: "400"
          x-do-not-generate: true
      summary: Get User Preferences (All Categories)
      tags:
      - PrefCategory
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-subscriber-distinct_id-category
      x-accepts: application/json
  /v1/brand/{brand_id}/category/{category_slug}:
    post:
      deprecated: false
      description: API to update user default preferences for a brand
      operationId: Brand_updateDefaultPreference
      parameters:
      - description: unique identifier of the brand you want to update default preferences
          for
        explode: false
        in: path
        name: brand_id
        required: true
        schema:
          type: string
        style: simple
      - description: notification category slug. You can get this from Notification
          Categories page on SuprSend dashboard -> Settings page
        explode: false
        in: path
        name: category_slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandUpdateDefaultPreferenceRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BrandUpdateDefaultPreferenceResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BrandUpdateDefaultPreference400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update Brand Default Preference
      tags:
      - Brand
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-brand-brand_id-category-category_slug
      x-content-type: application/json
      x-accepts: application/json
  /v1/brand/{brand_id}/category:
    get:
      deprecated: false
      description: API to get Brand categories
      operationId: Brand_getCategories
      parameters:
      - description: unique identifier of the brand you want to get default preferences
          for
        explode: false
        in: path
        name: brand_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BrandGetCategoriesResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BrandGetCategories400Response'
          description: "400"
          x-do-not-generate: true
      summary: Get Brand Default Preference
      tags:
      - Brand
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-brand-brand_id-category
      x-accepts: application/json
  /v1/subscriber_list:
    get:
      deprecated: false
      description: API to get the data of all the lists created in your workspace
      operationId: SubscriberList_getAllLists
      parameters:
      - description: number of results to be returned in API response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "20"
          example: "20"
          type: string
          x-konfig-original-example: "20"
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-get-parameters-0-schema
        style: form
      - description: starting position of brand list
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: "0"
          example: "0"
          type: string
          x-konfig-original-example: "0"
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberListGetAllListsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberListGetAllLists400Response'
          description: "400"
          x-do-not-generate: true
      summary: Get all Lists
      tags:
      - SubscriberList
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-subscriber_list
      x-accepts: application/json
    post:
      deprecated: false
      description: API to create / manage lists to send notification to a bulk list
        of users
      operationId: SubscriberList_createList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriberListCreateListRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberListCreateListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberListCreateList400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create a List
      tags:
      - SubscriberList
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-subscriber_list
      x-content-type: application/json
      x-accepts: application/json
  /v1/subscriber_list/{list_id}:
    get:
      deprecated: false
      description: API to get information corresponding to a list id
      operationId: SubscriberList_getListData
      parameters:
      - description: Unique string idenitifier of the list.
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          default: _list_id_
          example: _list_id_
          type: string
          x-konfig-original-example: _list_id_
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-subscriber_list-list_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberListGetListDataResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SubscriberListGetListData400Response'
          description: "400"
          x-do-not-generate: true
      summary: Get List data
      tags:
      - SubscriberList
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-subscriber_list-list_id
      x-accepts: application/json
components:
  schemas:
    BrandCreateOrUpdateRequest:
      example:
        tertiary_color: '#0000ff'
        social_links:
          youtube: youtube
          website: https://suprsend.com
          twitter: twitter
          discord: discord
          facebook: facebook
          telegram: telegram
          linkedin: linkedin
          instagram: instagram
          medium: medium
        logo: https://ik.imagekit.io/l0quatz6utm/suprsend/staging/media/suprsend-only-logo_c8aa27faef118418e8c5bd7b31a1cafc74e09200.png
        brand_name: Awesome Brand
        secondary_color: '#00ff00'
        primary_color: '#ff0000'
        preference_page_url: preference_page_url
        properties: properties
      properties:
        brand_name:
          default: Awesome Brand
          description: Name of the brand. You can add company / organization name
            here
          example: Awesome Brand
          type: string
          x-konfig-original-example: Awesome Brand
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BrandCreateOrUpdateRequest-properties-brand_name
        logo:
          default: https://ik.imagekit.io/l0quatz6utm/suprsend/staging/media/suprsend-only-logo_c8aa27faef118418e8c5bd7b31a1cafc74e09200.png
          description: URL of the brand logo
          example: https://ik.imagekit.io/l0quatz6utm/suprsend/staging/media/suprsend-only-logo_c8aa27faef118418e8c5bd7b31a1cafc74e09200.png
          type: string
          x-konfig-original-example: https://ik.imagekit.io/l0quatz6utm/suprsend/staging/media/suprsend-only-logo_c8aa27faef118418e8c5bd7b31a1cafc74e09200.png
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BrandCreateOrUpdateRequest-properties-logo
        primary_color:
          default: '#ff0000'
          description: "Primary color of the brand - used for designing brand template.\
            \ If you don't provide any of the colors for the brand, SuprSend will\
            \ assume you want to use the default values, so color settings will automatically\
            \ be set to the color settings of default brand."
          example: '#ff0000'
          type: string
          x-konfig-original-example: '#ff0000'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BrandCreateOrUpdateRequest-properties-primary_color
        secondary_color:
          default: '#00ff00'
          description: Secondary color of the brand - not used for designing the default
            templates. You can however add this property and use it in your templates
          example: '#00ff00'
          type: string
          x-konfig-original-example: '#00ff00'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BrandCreateOrUpdateRequest-properties-secondary_color
        tertiary_color:
          default: '#0000ff'
          description: Tertiary color of the brand - not used for designing the default
            templates. You can however add this property and use it in your templates
          example: '#0000ff'
          type: string
          x-konfig-original-example: '#0000ff'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BrandCreateOrUpdateRequest-properties-tertiary_color
        preference_page_url:
          description: Link of the hosted preference page inside the brand product
          type: string
        social_links:
          $ref: '#/components/schemas/BrandCreateOrUpdateRequest_social_links'
        properties:
          description: "Custom properties associated with the brand. Example value\
            \ - `{\"k1\": \"v1\", \"k2\": 1.0}` <br> Update operation on properties\
            \ works like upsert on 1st-level keys (i.e. if top-level key doesn't already\
            \ exist, then it will be added, otherwise its value will be replaced by\
            \ the new value. All other key-value pairs will remain unchanged)."
          format: json
          type: string
      required:
      - brand_name
      type: object
    SubscriberUpdateUserPreferencesCategoryRequest:
      example:
        opt_out_channels:
        - opt_out_channels
        - opt_out_channels
        preference: opt_in
      properties:
        preference:
          default: opt_in
          description: "choose one of the options: `opt_in` if the user has allowed\
            \ notification in this category and `opt_out` if user wants to discontinue\
            \ notification in this category"
          example: opt_in
          type: string
          x-konfig-original-example: opt_in
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriberUpdateUserPreferencesCategoryRequest-properties-preference
        opt_out_channels:
          description: "Add array of channels if user wants to unsubscribe from particular\
            \ channels in this category. Add channels as `email`, `sms`, whatsapp`,\
            \ `androidpush`, `inbox`, `iospush`, `slack`, `webpush`"
          items:
            type: string
          type: array
      type: object
    SubscriberAddToListRequest:
      example:
        distinct_ids:
        - _distinct_id1_
      properties:
        distinct_ids:
          default:
          - _distinct_id1_
          description: "Array of subscriber_ids, uniquely identifying the subscribers\
            \ to be added to the list."
          example:
          - _distinct_id1_
          items:
            type: string
          type: array
          x-konfig-original-example:
          - _distinct_id1_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriberAddToListRequest-properties-distinct_ids
      type: object
    SubscriberListRemoveSubscribersFromListRequest:
      example:
        distinct_ids:
        - _distinct_id1_
      properties:
        distinct_ids:
          default:
          - _distinct_id1_
          description: "Array of subscriber_ids, uniquely identifying the subscribers\
            \ to be removed from the list."
          example:
          - _distinct_id1_
          items:
            type: string
          type: array
          x-konfig-original-example:
          - _distinct_id1_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriberListRemoveSubscribersFromListRequest-properties-distinct_ids
      type: object
    SubscriberAddToDraftListRequest:
      example:
        distinct_ids:
        - "[]"
      properties:
        distinct_ids:
          default:
          - "[]"
          description: "Array of subscriber_ids, uniquely identifying the subscribers\
            \ to be added to the list."
          example:
          - "[]"
          items:
            type: string
          type: array
          x-konfig-original-example:
          - "[]"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriberAddToDraftListRequest-properties-distinct_ids
      type: object
    SubscriberRemoveFromDraftListRequest:
      example:
        distinct_ids:
        - "[]"
      properties:
        distinct_ids:
          default:
          - "[]"
          description: "Array of subscriber_ids, uniquely identifying the subscribers\
            \ to be removed from the list."
          example:
          - "[]"
          items:
            type: string
          type: array
          x-konfig-original-example:
          - "[]"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriberRemoveFromDraftListRequest-properties-distinct_ids
      type: object
    BroadcastTriggerMessageListRequest:
      example:
        template: _template_slug_
        notification_category: transactional
        delay: delay
        list_id: _list_id_
        channels:
        - channels
        - channels
        data: "{ \"key\": { \"k1\": \"v1\", \"k2\": \"v2\" } }"
        trigger_at: 2000-01-23
        brand_id: brand_id
      properties:
        list_id:
          default: _list_id_
          description: unique identifier to user list that you want to send broadcast
            messages to.
          example: _list_id_
          type: string
          x-konfig-original-example: _list_id_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BroadcastTriggerMessageListRequest-properties-list_id
        template:
          default: _template_slug_
          description: Unique slug name of the template created on SuprSend dashboard.
            You can get this by clicking on the clipboard icon next to the Template
            name on SuprSend templates page.
          example: _template_slug_
          type: string
          x-konfig-original-example: _template_slug_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BroadcastTriggerMessageListRequest-properties-template
        notification_category:
          default: transactional
          description: "Category in which your notification belongs. You can understand\
            \ more about them in the [Notification Category](https://docs.suprsend.com/docs/notification-category)\
            \ documentation"
          example: transactional
          type: string
          x-konfig-original-example: transactional
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BroadcastTriggerMessageListRequest-properties-notification_category
        channels:
          description: "If set, broadcast will be sent only on the channels defined\
            \ here irrespective of communication channels present in user profile."
          items:
            type: string
          type: array
        data:
          default: "{ \"key\": { \"k1\": \"v1\", \"k2\": \"v2\" } }"
          description: Mock data to replace the template variables.
          example: "{ \"key\": { \"k1\": \"v1\", \"k2\": \"v2\" } }"
          format: json
          type: string
          x-konfig-original-example: "{ \"key\": { \"k1\": \"v1\", \"k2\": \"v2\"\
            \ } }"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BroadcastTriggerMessageListRequest-properties-data
        delay:
          description: "Broadcast will be halted for the time mentioned in delay,\
            \ and become active once the delay period is over. Format - `XXdXXhXXmXXs`\
            \ or if its number (n) then delay is in seconds (n)"
          type: string
        trigger_at:
          description: Trigger broadcast on a specific date-time. Format - date string
            in ISO 8601 eg. "2022-08-27T20:14:51.643Z"
          format: date
          type: string
        brand_id:
          description: string identifier of the brand this broadcast is associated
            with
          type: string
      required:
      - list_id
      - notification_category
      - template
      type: object
    EventTriggerEventRequest:
      example:
        distinct_id: _distinct_id_
        $idempotency_key: $idempotency_key
        $user_operations:
        - $remove: "{}"
          $unset: []
          $append: "{}"
          $set: "{}"
        - $remove: "{}"
          $unset: []
          $append: "{}"
          $set: "{}"
        event: _event_name_
        properties: "{}"
        brand_id: brand_id
      properties:
        distinct_id:
          default: _distinct_id_
          description: distinct_id of recipient who should receive the notification
          example: _distinct_id_
          type: string
          x-konfig-original-example: _distinct_id_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EventTriggerEventRequest-properties-distinct_id
        $user_operations:
          description: Creating & updating users on SuprSend is done by sending an
            `$user_operations` event. All changes can be combined in one API call
            in an easy to replay format
          items:
            $ref: '#/components/schemas/EventTriggerEventRequest__user_operations_inner'
          type: array
        event:
          default: _event_name_
          description: string identifier for the event like `product_purchased`
          example: _event_name_
          type: string
          x-konfig-original-example: _event_name_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EventTriggerEventRequest-properties-event
        properties:
          default: "{}"
          description: a dictionary representing event attributes like `first_name`.
            Event properties can be used to pass template variables in case of event
            based trigger
          example: "{}"
          format: json
          type: string
          x-konfig-original-example: "{}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EventTriggerEventRequest-properties-properties
        brand_id:
          description: string identifier of the brand this event is associated with
          type: string
        $idempotency_key:
          description: Idempotency key (valid for 24hours)
          type: string
      required:
      - distinct_id
      - event
      type: object
    WorkflowConfigureTriggerRequest:
      example:
        template: _template_slug_
        delivery:
          time_to_live: time_to_live
          mandatory_channels:
          - mandatory_channels
          - mandatory_channels
          success: seen
          smart: false
        notification_category: transactional
        delay: delay
        data: "{ \"key\": { \"k1\": \"v1\", \"k2\": \"v2\" } }"
        $idempotency_key: $idempotency_key
        name: _workflow_name_
        users:
        - $whatsapp: []
          distinct_id: _distinct_id_
          $channels: []
          $sms: []
          $email: []
          $iospush:
          - device_id: device_id
            provider: apns
            token: __ios_push_token__
          - device_id: device_id
            provider: apns
            token: __ios_push_token__
          $slack: $slack
          $androidpush:
          - device_id: device_id
            provider: fcm
            token: __android_push_token__
          - device_id: device_id
            provider: fcm
            token: __android_push_token__
        - $whatsapp: []
          distinct_id: _distinct_id_
          $channels: []
          $sms: []
          $email: []
          $iospush:
          - device_id: device_id
            provider: apns
            token: __ios_push_token__
          - device_id: device_id
            provider: apns
            token: __ios_push_token__
          $slack: $slack
          $androidpush:
          - device_id: device_id
            provider: fcm
            token: __android_push_token__
          - device_id: device_id
            provider: fcm
            token: __android_push_token__
        trigger_at: 2000-01-23
        brand_id: brand_id
      properties:
        name:
          default: _workflow_name_
          description: "Unique name of the workflow. The workflow name should be easily\
            \ identifiable for your reference at a later stage. You can see workflow-related\
            \ analytics on the workflow page (how many notifications were sent, delivered,\
            \ clicked or interacted)."
          example: _workflow_name_
          type: string
          x-konfig-original-example: _workflow_name_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-WorkflowConfigureTriggerRequest-properties-name
        template:
          default: _template_slug_
          description: Unique slug name of the template created on SuprSend dashboard.
            You can get this by clicking on the clipboard icon next to the Template
            name on SuprSend templates page.
          example: _template_slug_
          type: string
          x-konfig-original-example: _template_slug_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-WorkflowConfigureTriggerRequest-properties-template
        notification_category:
          default: transactional
          description: Category in which your notification belongs. You can understand
            more about them in the 'Notification Category' documentation
          example: transactional
          type: string
          x-konfig-original-example: transactional
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-WorkflowConfigureTriggerRequest-properties-notification_category
        users:
          description: Array object of target users.
          items:
            $ref: '#/components/schemas/WorkflowConfigureTriggerRequest_users_inner'
          type: array
        data:
          default: "{ \"key\": { \"k1\": \"v1\", \"k2\": \"v2\" } }"
          description: Mock data to replace the template variables.
          example: "{ \"key\": { \"k1\": \"v1\", \"k2\": \"v2\" } }"
          format: json
          type: string
          x-konfig-original-example: "{ \"key\": { \"k1\": \"v1\", \"k2\": \"v2\"\
            \ } }"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-WorkflowConfigureTriggerRequest-properties-data
        delivery:
          $ref: '#/components/schemas/WorkflowConfigureTriggerRequest_delivery'
        delay:
          description: "Workflow will be halted for the time mentioned in delay, and\
            \ become active once the delay period is over. Format - `XXdXXhXXmXXs`\
            \ or if its number (n) then delay is in seconds (n)"
          type: string
        trigger_at:
          description: Trigger workflow on a specific date-time. Format - date string
            in ISO 8601 eg. "2022-08-27T20:14:51.643Z"
          format: date
          type: string
        brand_id:
          description: string identifier of the brand this workflow is associated
            with
          type: string
        $idempotency_key:
          description: Idempotency_key (valid for 24hrs)
          type: string
      required:
      - name
      - notification_category
      - template
      - users
      type: object
    PreferenceUpdateChannelPreferencesRequest:
      example:
        channel_preferences:
        - is_restricted: false
          channel: email
        - is_restricted: false
          channel: email
      properties:
        channel_preferences:
          description: Use this to update channel level user preferences. Set `is_restricted
            - true` if the channel is opted_out by the user. This will only send critical
            notifications to the user which can't be opted out
          items:
            $ref: '#/components/schemas/PreferenceUpdateChannelPreferencesRequest_channel_preferences_inner'
          type: array
      type: object
    BrandUpdateDefaultPreferenceRequest:
      example:
        mandatory_channels:
        - mandatory_channels
        - mandatory_channels
        preference: opt_in
        visible_to_subscriber: true
      properties:
        preference:
          default: opt_in
          description: "set `**opt_in**` to send notifications on all channels by\
            \ default <br>  set `**opt_out**` to not send notifications in this category\
            \ by default. For instance, **newsletter** <br>  set `**cant_unsubscribe**`if\
            \ you do not want users to completely opt-out from this category. Notifications\
            \ will always be sent on mandatory channels in this category."
          example: opt_in
          type: string
          x-konfig-original-example: opt_in
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BrandUpdateDefaultPreferenceRequest-properties-preference
        visible_to_subscriber:
          description: set it `false` to hide a category from user's preference page
          type: boolean
        mandatory_channels:
          description: "Add mandatory channels that the user can't unsubscribe from\
            \ if preference is `cant_unsubscribe`. Add channels as `email`, `sms`,\
            \ `whatsapp`, `androidpush`, `inbox`, `iospush`, `slack`, `webpush`"
          items:
            type: string
          type: array
      type: object
    SubscriberListCreateListRequest:
      example:
        list_description: _some sample description_
        list_id: _list_id_
        list_name: _list_name_
      properties:
        list_id:
          default: _list_id_
          description: Unique string idenitifier of the list. Add an id which defines
            the type of users who are part of the list
          example: _list_id_
          type: string
          x-konfig-original-example: _list_id_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriberListCreateListRequest-properties-list_id
        list_name:
          default: _list_name_
          description: Name of the List. Add a name which defines the type of users
            in the list
          example: _list_name_
          type: string
          x-konfig-original-example: _list_name_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriberListCreateListRequest-properties-list_name
        list_description:
          default: _some sample description_
          example: _some sample description_
          type: string
          x-konfig-original-example: _some sample description_
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriberListCreateListRequest-properties-list_description
      required:
      - list_id
      type: object
    TemplateGetListResponse:
      example:
        meta:
          offset: 0
          count: 1
          limit: 10
        results:
        - is_active: true
          description: ""
          created_at: 2023-01-25T04:53:39.237291Z
          default_language:
            name: English
            slug: en
          enabled_languages:
          - en
          - en
          tags:
          - ""
          - ""
          updated_at: 2023-08-28T05:06:22.461443Z
          channels:
          - is_enabled: true
            is_active: true
            updated_at: 2023-01-25T04:53:39.404273Z
            disabled_languages:
            - ""
            - ""
            versions:
            - ""
            - ""
            channel:
              is_template_approval_needed: true
              name: Email
              slug: email
            created_at: 2023-01-25T04:53:39.268299Z
            id: 3944
          - is_enabled: true
            is_active: true
            updated_at: 2023-01-25T04:53:39.404273Z
            disabled_languages:
            - ""
            - ""
            versions:
            - ""
            - ""
            channel:
              is_template_approval_needed: true
              name: Email
              slug: email
            created_at: 2023-01-25T04:53:39.268299Z
            id: 3944
          last_triggered_at: 2023-08-10T12:44:03.361158Z
          name: Grocery Purchased
          updated_by:
            name: Joe
            email: joe@example.com
          is_auto_translate_enabled: false
          id: 2445
          slug: grocery-purchased
        - is_active: true
          description: ""
          created_at: 2023-01-25T04:53:39.237291Z
          default_language:
            name: English
            slug: en
          enabled_languages:
          - en
          - en
          tags:
          - ""
          - ""
          updated_at: 2023-08-28T05:06:22.461443Z
          channels:
          - is_enabled: true
            is_active: true
            updated_at: 2023-01-25T04:53:39.404273Z
            disabled_languages:
            - ""
            - ""
            versions:
            - ""
            - ""
            channel:
              is_template_approval_needed: true
              name: Email
              slug: email
            created_at: 2023-01-25T04:53:39.268299Z
            id: 3944
          - is_enabled: true
            is_active: true
            updated_at: 2023-01-25T04:53:39.404273Z
            disabled_languages:
            - ""
            - ""
            versions:
            - ""
            - ""
            channel:
              is_template_approval_needed: true
              name: Email
              slug: email
            created_at: 2023-01-25T04:53:39.268299Z
            id: 3944
          last_triggered_at: 2023-08-10T12:44:03.361158Z
          name: Grocery Purchased
          updated_by:
            name: Joe
            email: joe@example.com
          is_auto_translate_enabled: false
          id: 2445
          slug: grocery-purchased
      properties:
        meta:
          $ref: '#/components/schemas/TemplateGetListResponse_meta'
        results:
          items:
            $ref: '#/components/schemas/TemplateGetListResponse_results_inner'
          type: array
      type: object
      x-konfig-is-used-in-successful-response: true
    TemplateGetList400Response:
      properties: {}
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    TemplateGetDetailsResponse:
      example:
        is_active: true
        description: ""
        created_at: 2023-01-25T04:53:39.237291Z
        default_language:
          name: English
          slug: en
        enabled_languages:
        - en
        - en
        updated_at: 2023-08-28T05:06:22.461443Z
        channels:
        - is_enabled: true
          is_active: true
          updated_at: 2023-01-25T04:53:39.404273Z
          disabled_languages:
          - ""
          - ""
          versions:
          - version_tag: "1"
            updated_at: 2023-01-25T04:53:39.342850Z
            published_languages:
            - en
            - en
            templates:
            - is_enabled: true
              approval_cycle:
                request_received_at: 2022-03-31T10:35:51+0000
                approval_status_received_at: 2022-03-31T10:43:44+0000
                comment: ""
                sent_for_approval_at: ""
                status: approved
              updated_at: 2023-01-25T04:53:39.328651Z
              approval_status: approved
              is_cloned_from_last_version: false
              updated_by:
                name: Steve
                email: steve@example.com
              is_approval_needed: true
              created_at: 2023-01-25T04:53:39.295289Z
              language:
                name: English
                slug: en
              id: 11866
              content:
                template_name: purchase_made_en_v2
                content_type: "1"
                x-konfig-original-example:
                - Winter Raincoat
                - Winter Raincoat
                vendor_template_id: 1007xxxxxxxxxx
                handlebars_text: |-
                  You purchased product {{event.product_name}} worth Rs. {{event.amount}} will reach to you {{event.location.city}}. You can track your order here: {{event.link}}
                  - SuprSend
                header: SPRSND
                message_type: SERVICE_IMPLICIT
                text: |-
                  You purchased product {#var#} worth Rs. {#var#} will reach to you {#var#}. You can track your order here: {#var#}
                  - SuprSend
                vendor_slug: acl-sms
                enterprise_name: SPRSND
                example:
                - Winter Raincoat
                - Winter Raincoat
            - is_enabled: true
              approval_cycle:
                request_received_at: 2022-03-31T10:35:51+0000
                approval_status_received_at: 2022-03-31T10:43:44+0000
                comment: ""
                sent_for_approval_at: ""
                status: approved
              updated_at: 2023-01-25T04:53:39.328651Z
              approval_status: approved
              is_cloned_from_last_version: false
              updated_by:
                name: Steve
                email: steve@example.com
              is_approval_needed: true
              created_at: 2023-01-25T04:53:39.295289Z
              language:
                name: English
                slug: en
              id: 11866
              content:
                template_name: purchase_made_en_v2
                content_type: "1"
                x-konfig-original-example:
                - Winter Raincoat
                - Winter Raincoat
                vendor_template_id: 1007xxxxxxxxxx
                handlebars_text: |-
                  You purchased product {{event.product_name}} worth Rs. {{event.amount}} will reach to you {{event.location.city}}. You can track your order here: {{event.link}}
                  - SuprSend
                header: SPRSND
                message_type: SERVICE_IMPLICIT
                text: |-
                  You purchased product {#var#} worth Rs. {#var#} will reach to you {#var#}. You can track your order here: {#var#}
                  - SuprSend
                vendor_slug: acl-sms
                enterprise_name: SPRSND
                example:
                - Winter Raincoat
                - Winter Raincoat
            version_tag_user: v1
            apparent_published_languages:
            - en
            - en
            updated_by:
              name: Joe
              email: joe@example.com
            created_at: 2023-01-25T04:53:39.276782Z
            id: 10820
            status: active
          - version_tag: "1"
            updated_at: 2023-01-25T04:53:39.342850Z
            published_languages:
            - en
            - en
            templates:
            - is_enabled: true
              approval_cycle:
                request_received_at: 2022-03-31T10:35:51+0000
                approval_status_received_at: 2022-03-31T10:43:44+0000
                comment: ""
                sent_for_approval_at: ""
                status: approved
              updated_at: 2023-01-25T04:53:39.328651Z
              approval_status: approved
              is_cloned_from_last_version: false
              updated_by:
                name: Steve
                email: steve@example.com
              is_approval_needed: true
              created_at: 2023-01-25T04:53:39.295289Z
              language:
                name: English
                slug: en
              id: 11866
              content:
                template_name: purchase_made_en_v2
                content_type: "1"
                x-konfig-original-example:
                - Winter Raincoat
                - Winter Raincoat
                vendor_template_id: 1007xxxxxxxxxx
                handlebars_text: |-
                  You purchased product {{event.product_name}} worth Rs. {{event.amount}} will reach to you {{event.location.city}}. You can track your order here: {{event.link}}
                  - SuprSend
                header: SPRSND
                message_type: SERVICE_IMPLICIT
                text: |-
                  You purchased product {#var#} worth Rs. {#var#} will reach to you {#var#}. You can track your order here: {#var#}
                  - SuprSend
                vendor_slug: acl-sms
                enterprise_name: SPRSND
                example:
                - Winter Raincoat
                - Winter Raincoat
            - is_enabled: true
              approval_cycle:
                request_received_at: 2022-03-31T10:35:51+0000
                approval_status_received_at: 2022-03-31T10:43:44+0000
                comment: ""
                sent_for_approval_at: ""
                status: approved
              updated_at: 2023-01-25T04:53:39.328651Z
              approval_status: approved
              is_cloned_from_last_version: false
              updated_by:
                name: Steve
                email: steve@example.com
              is_approval_needed: true
              created_at: 2023-01-25T04:53:39.295289Z
              language:
                name: English
                slug: en
              id: 11866
              content:
                template_name: purchase_made_en_v2
                content_type: "1"
                x-konfig-original-example:
                - Winter Raincoat
                - Winter Raincoat
                vendor_template_id: 1007xxxxxxxxxx
                handlebars_text: |-
                  You purchased product {{event.product_name}} worth Rs. {{event.amount}} will reach to you {{event.location.city}}. You can track your order here: {{event.link}}
                  - SuprSend
                header: SPRSND
                message_type: SERVICE_IMPLICIT
                text: |-
                  You purchased product {#var#} worth Rs. {#var#} will reach to you {#var#}. You can track your order here: {#var#}
                  - SuprSend
                vendor_slug: acl-sms
                enterprise_name: SPRSND
                example:
                - Winter Raincoat
                - Winter Raincoat
            version_tag_user: v1
            apparent_published_languages:
            - en
            - en
            updated_by:
              name: Joe
              email: joe@example.com
            created_at: 2023-01-25T04:53:39.276782Z
            id: 10820
            status: active
          channel:
            is_template_approval_needed: true
            name: SMS
            slug: sms
          created_at: 2023-01-25T04:53:39.268299Z
          id: 3944
          tags:
          - ""
          - ""
        - is_enabled: true
          is_active: true
          updated_at: 2023-01-25T04:53:39.404273Z
          disabled_languages:
          - ""
          - ""
          versions:
          - version_tag: "1"
            updated_at: 2023-01-25T04:53:39.342850Z
            published_languages:
            - en
            - en
            templates:
[...]
